In [1]:
s = "Hello!"
b16 = s.encode("UTF-16BE")
print(type(s), type(b16), b16.hex())

<class 'str'> <class 'bytes'> 00480065006c006c006f0021

In [2]:
b8 = s.encode("UTF-8")
print(type(s), type(b8), b8.hex())

<class 'str'> <class 'bytes'> 48656c6c6f21

In [4]:
s1 = "H"
s2 = "A"
b1 = ord(s1)
b2 = ord(s2)
print(type(b1), b1, hex(b1), type(b2), b2, hex(b2))

<class 'int'> 72 0x48 <class 'int'> 65 0x41

In [6]:
b = bytes(s, encoding="ascii")
b

b'Hello!'

In [8]:
s16 = b16.decode("UTF-16BE")
s8 = b8.decode()
print(s16, s8)

Hello! Hello!

# Some exercises

**21.8** As the files ind2016.csv and ind2016_16.csv are stored on the book
web page, please go and download them, then try to open them in the most naive
program possible (i.e., a simple text editor). Describe what you see.

In [22]:
import requests

ind2016_url = "https://datasystems.denison.edu/data/ind2016.csv"

in2016_16_url = "https://datasystems.denison.edu/data/ind2016_16.csv"

in0_url = "https://datasystems.denison.edu/data/ind0.json"

In [23]:
ind2016_url

'https://datasystems.denison.edu/data/ind2016.csv'

In [24]:
# not exist
in2016_16_url

'https://datasystems.denison.edu/data/ind2016_16.csv'

In [25]:
in0_url

'https://datasystems.denison.edu/data/ind0.json'

In [26]:
res_in0 = requests.get(in0_url)

In [27]:
res_in0.headers

{'Date': 'Fri, 29 Oct 2021 12:36:46 GMT', 'Server': 'Apache/2.4.6 (CentOS)', 'Last-Modified': 'Wed, 16 Dec 2020 23:45:42 GMT', 'ETag': '"10d-5b69d7922d580"', 'Accept-Ranges': 'bytes', 'Content-Length': '269', 'Connection': 'close', 'Content-Type': 'application/json'}

In [28]:
res_in0.encoding

'utf-8'

In [34]:
res_in0.content

b'{"FRA": {"2007": {"pop": 64.02, "gdp": 2657.21}, "2017": {"pop": 66.87, "gdp": 2586.29}}, "GBR": {"2007": {"pop": 61.32, "gdp": 3084.12}, "2017": {"pop": 66.06, "gdp": 2637.87}}, "USA": {"2007": {"pop": 301.23, "gdp": 14451.9}, "2017": {"pop": 325.15, "gdp": 19485.4}}}'

In [38]:
data2 = res_in0.content.decode(res_in0.encoding)

print(type(data2), data2)

<class 'str'> {"FRA": {"2007": {"pop": 64.02, "gdp": 2657.21}, "2017": {"pop": 66.87, "gdp": 2586.29}}, "GBR": {"2007": {"pop": 61.32, "gdp": 3084.12}, "2017": {"pop": 66.06, "gdp": 2637.87}}, "USA": {"2007": {"pop": 301.23, "gdp": 14451.9}, "2017": {"pop": 325.15, "gdp": 19485.4}}}

In [42]:
realdata2 = eval(data2)
print(type(realdata2), realdata2)

<class 'dict'> {'FRA': {'2007': {'pop': 64.02, 'gdp': 2657.21}, '2017': {'pop': 66.87, 'gdp': 2586.29}}, 'GBR': {'2007': {'pop': 61.32, 'gdp': 3084.12}, '2017': {'pop': 66.06, 'gdp': 2637.87}}, 'USA': {'2007': {'pop': 301.23, 'gdp': 14451.9}, '2017': {'pop': 325.15, 'gdp': 19485.4}}}

In [39]:
data1 = res_in0.json()
print(type(data1), data1)

<class 'dict'> {'FRA': {'2007': {'pop': 64.02, 'gdp': 2657.21}, '2017': {'pop': 66.87, 'gdp': 2586.29}}, 'GBR': {'2007': {'pop': 61.32, 'gdp': 3084.12}, '2017': {'pop': 66.06, 'gdp': 2637.87}}, 'USA': {'2007': {'pop': 301.23, 'gdp': 14451.9}, '2017': {'pop': 325.15, 'gdp': 19485.4}}}

In [37]:
data2 == data1

False

In [44]:
res = requests.get(ind2016_url)

In [50]:
res.headers

{'Date': 'Fri, 29 Oct 2021 12:46:36 GMT', 'Server': 'Apache/2.4.6 (CentOS)', 'Last-Modified': 'Wed, 16 Dec 2020 23:45:46 GMT', 'ETag': '"10f-5b69d795fde80"', 'Accept-Ranges': 'bytes', 'Content-Length': '271', 'Connection': 'close', 'Content-Type': 'text/csv'}

In [51]:
res.text

'code,country,pop,gdp,life,cell\nCAN,Canada,36.26,1535.77,82.3,30.75\nCHN,China,1378.66,11199.15,76.25,1364.93\nIND,India,1324.17,2263.79,68.56,1127.81\nRUS,Russia,144.34,1283.16,71.59,229.13\nUSA,United States,323.13,18624.47,78.69,395.88\nVNM,Vietnam,94.57,205.28,76.25,120.6\n'

In [52]:
data1 = res.text
print(type(data1), data1)

<class 'str'> code,country,pop,gdp,life,cell
CAN,Canada,36.26,1535.77,82.3,30.75
CHN,China,1378.66,11199.15,76.25,1364.93
IND,India,1324.17,2263.79,68.56,1127.81
RUS,Russia,144.34,1283.16,71.59,229.13
USA,United States,323.13,18624.47,78.69,395.88
VNM,Vietnam,94.57,205.28,76.25,120.6

In [55]:
data2 = res.content.decode(res.encoding)
print(type(data2), data2)

<class 'str'> code,country,pop,gdp,life,cell
CAN,Canada,36.26,1535.77,82.3,30.75
CHN,China,1378.66,11199.15,76.25,1364.93
IND,India,1324.17,2263.79,68.56,1127.81
RUS,Russia,144.34,1283.16,71.59,229.13
USA,United States,323.13,18624.47,78.69,395.88
VNM,Vietnam,94.57,205.28,76.25,120.6

**21.11**

In [1]:
s = "Unicode examples: \u2B2C and \u266A and \u1F60 and " "\u265E and \u0394 and \u0402"

In [2]:
print(s)

Unicode examples: ⬬ and ♪ and ὠ and ♞ and Δ and Ђ

In [8]:
b8 = s.encode("utf-8")
print(b8)
print(b8.hex())

b'Unicode examples: \xe2\xac\xac and \xe2\x99\xaa and \xe1\xbd\xa0 and \xe2\x99\x9e and \xce\x94 and \xd0\x82'
556e69636f6465206578616d706c65733a20e2acac20616e6420e299aa20616e6420e1bda020616e6420e2999e20616e6420ce9420616e6420d082

In [9]:
b16 = s.encode("utf-16")
print(b16)
print(b16.hex())

b'\xff\xfeU\x00n\x00i\x00c\x00o\x00d\x00e\x00 \x00e\x00x\x00a\x00m\x00p\x00l\x00e\x00s\x00:\x00 \x00,+ \x00a\x00n\x00d\x00 \x00j& \x00a\x00n\x00d\x00 \x00`\x1f \x00a\x00n\x00d\x00 \x00^& \x00a\x00n\x00d\x00 \x00\x94\x03 \x00a\x00n\x00d\x00 \x00\x02\x04'
fffe55006e00690063006f006400650020006500780061006d0070006c00650073003a0020002c2b200061006e00640020006a26200061006e0064002000601f200061006e00640020005e26200061006e00640020009403200061006e00640020000204

**21.12** Write a function
 - shiftLetter(letter, n)
 
whose parameter, letter, should be a single character. If the character is between
"A" and "Z", the function returns an uppercase character n positions further along,
and “wrapping” if the + n mapping goes past "Z". Likewise, it should map the
lower case characters between "a" and "z". If the parameter letter is anything
else, or not of length 1, the function should return letter.
Hint: review functions ord() and chr() from the section, as well as the
modulus operator %.

In [30]:
def shiftLetter(letter, n):
    if len(letter) == 1:
        if letter.isalpha() and letter.isupper():
            return chr((ord(letter) + n) % 65 % 26 + 65)
        elif letter.isalpha() and letter.islower():
            return chr((ord(letter) + n) % 97 % 26 + 97)
        else:
            return letter
    else:
        return letter


# encrypt(plaintext, n) --> shift each letter

In [33]:
print(
    shiftLetter("A", 78),
    shiftLetter("X", 5),
    shiftLetter("y", 5),
    shiftLetter("Nghia", 2),
)

N C d Nghia

**21.15** Suppose you have, in your Python program, a variable that refers to a bytes
data type, like mystery refers to the bytes constant literal as given here:

 Assume that you have narrowed the encodings down to one of the
following:
- “UTF-8,”
- “UTF-16BE,”
- “cp037,”
- “latin_1.”

Write code to convert the byte sequence to a character string and determine the
correct encoding

In [35]:
mystery = (
    b"\xc9\xa2\x95}\xa3@\x89\xa3@\x87\x99\x85"
    b"\x81\xa3@\xa3\x96@\x82\x85@\xa2\x96\x93"
    b"\xa5\x89\x95\x87@\x97\x99\x96\x82\x93\x85"
    b"\x94\xa2o@@\xe8\x96\xa4@\x82\x85\xa3Z"
)

In [39]:
import chardet

the_encoding = chardet.detect(mystery)

In [47]:
a = mystery.decode("latin_1")
a

'É¢\x95}£@\x89£@\x87\x99\x85\x81£@£\x96@\x82\x85@¢\x96\x93¥\x89\x95\x87@\x97\x99\x96\x82\x93\x85\x94¢o@@è\x96¤@\x82\x85£Z'

In [49]:
b = mystery.decode("cp037")
b

"Isn't it great to be solving problems?  You bet!"

**21.2.2 CSV from Network Data with Python IO**

In [79]:
import io

import pandas as pd
import requests

In [80]:
ind2016_url = "https://datasystems.denison.edu/data/ind2016.csv"

In [81]:
response = requests.get(ind2016_url)
response.encoding

'ISO-8859-1'

In [82]:
response.headers

{'Date': 'Sat, 30 Oct 2021 08:31:36 GMT', 'Server': 'Apache/2.4.6 (CentOS)', 'Last-Modified': 'Wed, 16 Dec 2020 23:45:46 GMT', 'ETag': '"10f-5b69d795fde80"', 'Accept-Ranges': 'bytes', 'Content-Length': '271', 'Connection': 'close', 'Content-Type': 'text/csv'}

In [83]:
response.content

b'code,country,pop,gdp,life,cell\nCAN,Canada,36.26,1535.77,82.3,30.75\nCHN,China,1378.66,11199.15,76.25,1364.93\nIND,India,1324.17,2263.79,68.56,1127.81\nRUS,Russia,144.34,1283.16,71.59,229.13\nUSA,United States,323.13,18624.47,78.69,395.88\nVNM,Vietnam,94.57,205.28,76.25,120.6\n'

In [91]:
fileLikeObj = io.StringIO(response.text)
headerList = fileLikeObj.readline().strip().split(",")

In [92]:
headerList

['code', 'country', 'pop', 'gdp', 'life', 'cell']

In [93]:
LoL = []
for line in fileLikeObj:
    rowlist = line.strip().split(",")
    LoL.append(rowlist)

df = pd.DataFrame(LoL, columns=headerList)
df = df.astype({"pop": float, "gdp": float, "gdp": float, "life": float, "cell": float})

df

  code        country      pop       gdp   life     cell
0  CAN         Canada    36.26   1535.77  82.30    30.75
1  CHN          China  1378.66  11199.15  76.25  1364.93
2  IND          India  1324.17   2263.79  68.56  1127.81
3  RUS         Russia   144.34   1283.16  71.59   229.13
4  USA  United States   323.13  18624.47  78.69   395.88
5  VNM        Vietnam    94.57    205.28  76.25   120.60

In [95]:
fileLikeObj = io.StringIO(response.text)
df = pd.read_csv(fileLikeObj, index_col="code")
df

            country      pop       gdp   life     cell
code
CAN          Canada    36.26   1535.77  82.30    30.75
CHN           China  1378.66  11199.15  76.25  1364.93
IND           India  1324.17   2263.79  68.56  1127.81
RUS          Russia   144.34   1283.16  71.59   229.13
USA   United States   323.13  18624.47  78.69   395.88
VNM         Vietnam    94.57    205.28  76.25   120.60

In [96]:
ind2016_url = "https://datasystems.denison.edu/data/ind2016.csv"
response = requests.get(ind2016_url)
response.encoding

'ISO-8859-1'

In [102]:
fileLikeObj = io.BytesIO(response.content)
df = pd.read_csv(fileLikeObj, encoding="ISO-8859-1")
df

  code        country      pop       gdp   life     cell
0  CAN         Canada    36.26   1535.77  82.30    30.75
1  CHN          China  1378.66  11199.15  76.25  1364.93
2  IND          India  1324.17   2263.79  68.56  1127.81
3  RUS         Russia   144.34   1283.16  71.59   229.13
4  USA  United States   323.13  18624.47  78.69   395.88
5  VNM        Vietnam    94.57    205.28  76.25   120.60

## ** 21.2.4 Exercises **

**21.22**

In [104]:
s = (
    "Twilight and evening bell,\n"
    "And after that the dark!\n"
    "And may there be no sadness of farewell,\n"
    "When I embark;\n"
)

In [117]:
# find the start and end indices of the substring "dark" within s,
def find_se(string_, sub_):
    c = sub_[0]
    for idx, first in enumerate(string_):
        #         print(idx, first)
        if first == c:
            if string_[idx : idx + len(sub_)] == sub_:
                return idx, idx + len(sub_)

    return -1

In [118]:
find_se(s, "dark")

(46, 50)

In [119]:
#  create a file-like object from s and perform a first readline(),
import io

file_like_object = io.StringIO(s)
for line in file_like_object:
    print(line)

Twilight and evening bell,

And after that the dark!

And may there be no sadness of farewell,

When I embark;

**21.23** Practice with io.StringIO() by using a for loop to print the numbers
1 through 100 into a file-like object, one per line. Then, iterate through this
object and confirm that read() yields a string representing the entire data, while
readline() yields one line at a time, and keeps track of the location in the filelike object. Provide your code.

In [140]:
import io

raw_string = "\n".join([str(num) for num in range(1, 101)])
my_write_IO = io.StringIO(raw_string)
my_write_IO

In [132]:
r = my_write_IO.read()
r

'1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n11\n12\n13\n14\n15\n16\n17\n18\n19\n20\n21\n22\n23\n24\n25\n26\n27\n28\n29\n30\n31\n32\n33\n34\n35\n36\n37\n38\n39\n40\n41\n42\n43\n44\n45\n46\n47\n48\n49\n50\n51\n52\n53\n54\n55\n56\n57\n58\n59\n60\n61\n62\n63\n64\n65\n66\n67\n68\n69\n70\n71\n72\n73\n74\n75\n76\n77\n78\n79\n80\n81\n82\n83\n84\n85\n86\n87\n88\n89\n90\n91\n92\n93\n94\n95\n96\n97\n98\n99\n100'

In [143]:
r = my_write_IO.read()
# for i in r:
#      print(i)

The next set of exercises involve 
- a file at resource path /data/mystery3.dat
- on host datasystems.denison.edu. 

You can assume the file is textual and is
a tab-separated data collection where each line consists of:

male_name <tab> male_count <tab> female_name <tab> female_count
    
for the top 10 name applications of each sex to the US Social Security Administration for the year 2015.

In [175]:
import io

import requests

url = "https://datasystems.denison.edu/data/mystery3.dat"
url

'https://datasystems.denison.edu/data/mystery3.dat'

In [176]:
res = requests.get(url)
print(res)

<Response [200]>

In [180]:
print(res.encoding, res.headers)

# content_type = res.headers['Content-Type']
# print(content_type)

None {'Date': 'Sat, 30 Oct 2021 12:12:20 GMT', 'Server': 'Apache/2.4.6 (CentOS)', 'Last-Modified': 'Wed, 16 Dec 2020 23:45:51 GMT', 'ETag': '"100-5b69d79ac29c0"', 'Accept-Ranges': 'bytes', 'Content-Length': '256', 'Connection': 'close'}

In [187]:
res.content

b'\xd5\x96\x81\x88\x05\xf1\xf9\xf6\xf3\xf5\x05\xc5\x94\x94\x81\x05\xf2\xf0\xf4\xf5\xf5%\xd3\x89\x81\x94\x05\xf1\xf8\xf3\xf7\xf4\x05\xd6\x93\x89\xa5\x89\x81\x05\xf1\xf9\xf6\xf9\xf1%\xd4\x81\xa2\x96\x95\x05\xf1\xf6\xf6\xf2\xf7\x05\xe2\x96\x97\x88\x89\x81\x05\xf1\xf7\xf4\xf1\xf7%\xd1\x81\x83\x96\x82\x05\xf1\xf5\xf9\xf4\xf9\x05\xc1\xa5\x81\x05\xf1\xf6\xf3\xf7\xf8%\xe6\x89\x93\x93\x89\x81\x94\x05\xf1\xf5\xf9\xf0\xf9\x05\xc9\xa2\x81\x82\x85\x93\x93\x81\x05\xf1\xf5\xf6\xf1\xf7%\xc5\xa3\x88\x81\x95\x05\xf1\xf5\xf0\xf7\xf7\x05\xd4\x89\x81\x05\xf1\xf4\xf9\xf0\xf5%\xd1\x81\x94\x85\xa2\x05\xf1\xf4\xf8\xf2\xf4\x05\xc1\x82\x89\x87\x81\x89\x93\x05\xf1\xf2\xf4\xf0\xf1%\xc1\x93\x85\xa7\x81\x95\x84\x85\x99\x05\xf1\xf4\xf5\xf4\xf7\x05\xc5\x94\x89\x93\xa8\x05\xf1\xf1\xf7\xf8\xf6%\xd4\x89\x83\x88\x81\x85\x93\x05\xf1\xf4\xf4\xf3\xf1\x05\xc3\x88\x81\x99\x93\x96\xa3\xa3\x85\x05\xf1\xf1\xf3\xf9\xf8%\xc2\x85\x95\x91\x81\x94\x89\x95\x05\xf1\xf3\xf7\xf0\xf0\x05\xc8\x81\x99\x97\x85\x99\x05\xf1\xf0\xf2\xf9\xf5%'

In [189]:
data = str(res.content, encoding="cp037")
data

'Noah\t19635\tEmma\t20455\nLiam\t18374\tOlivia\t19691\nMason\t16627\tSophia\t17417\nJacob\t15949\tAva\t16378\nWilliam\t15909\tIsabella\t15617\nEthan\t15077\tMia\t14905\nJames\t14824\tAbigail\t12401\nAlexander\t14547\tEmily\t11786\nMichael\t14431\tCharlotte\t11398\nBenjamin\t13700\tHarper\t10295\n'

In [190]:
real_encoding = "cp037"
csv_body = data
print(csv_body)

Noah	19635	Emma	20455
Liam	18374	Olivia	19691
Mason	16627	Sophia	17417
Jacob	15949	Ava	16378
William	15909	Isabella	15617
Ethan	15077	Mia	14905
James	14824	Abigail	12401
Alexander	14547	Emily	11786
Michael	14431	Charlotte	11398
Benjamin	13700	Harper	10295

In [191]:
csv_body

'Noah\t19635\tEmma\t20455\nLiam\t18374\tOlivia\t19691\nMason\t16627\tSophia\t17417\nJacob\t15949\tAva\t16378\nWilliam\t15909\tIsabella\t15617\nEthan\t15077\tMia\t14905\nJames\t14824\tAbigail\t12401\nAlexander\t14547\tEmily\t11786\nMichael\t14431\tCharlotte\t11398\nBenjamin\t13700\tHarper\t10295\n'

**21.26** In this question, you will start with a string and create a Dictionary of Lists
representation of the data entailed in the string

In [192]:
csv_body

'Noah\t19635\tEmma\t20455\nLiam\t18374\tOlivia\t19691\nMason\t16627\tSophia\t17417\nJacob\t15949\tAva\t16378\nWilliam\t15909\tIsabella\t15617\nEthan\t15077\tMia\t14905\nJames\t14824\tAbigail\t12401\nAlexander\t14547\tEmily\t11786\nMichael\t14431\tCharlotte\t11398\nBenjamin\t13700\tHarper\t10295\n'

In [208]:
import io

file_like_object = io.StringIO(csv_body)
my_dict = {}
my_dict["header"] = ["malename", "malecount", "femalename", "femalecount"]

In [209]:
my_dict

{'header': ['malename', 'malecount', 'femalename', 'femalecount']}

In [210]:
count = 0
for line in file_like_object:
    my_dict[f"row {count}"] = line.strip().split("\t")
    count += 1

print(my_dict)

{'header': ['malename', 'malecount', 'femalename', 'femalecount'], 'row 0': ['Noah', '19635', 'Emma', '20455'], 'row 1': ['Liam', '18374', 'Olivia', '19691'], 'row 2': ['Mason', '16627', 'Sophia', '17417'], 'row 3': ['Jacob', '15949', 'Ava', '16378'], 'row 4': ['William', '15909', 'Isabella', '15617'], 'row 5': ['Ethan', '15077', 'Mia', '14905'], 'row 6': ['James', '14824', 'Abigail', '12401'], 'row 7': ['Alexander', '14547', 'Emily', '11786'], 'row 8': ['Michael', '14431', 'Charlotte', '11398'], 'row 9': ['Benjamin', '13700', 'Harper', '10295']}

In [212]:
file_like_object = io.StringIO(csv_body)
df = pd.read_csv(file_like_object, sep="\t")
df

        Noah  19635       Emma  20455
0       Liam  18374     Olivia  19691
1      Mason  16627     Sophia  17417
2      Jacob  15949        Ava  16378
3    William  15909   Isabella  15617
4      Ethan  15077        Mia  14905
5      James  14824    Abigail  12401
6  Alexander  14547      Emily  11786
7    Michael  14431  Charlotte  11398
8   Benjamin  13700     Harper  10295

# **JSON Data**

In [217]:
!pwd

/home/nghiaht7/data-engineer/public-datasystems-s20/03-Data-Source-stuff/03_21

In [227]:
import json
import os
import requests

url = "https://datasystems.denison.edu/data/ind0.json"
res = requests.get(url)

# json load from fileLikeObject --> need StringIO for res.text

tmp = io.StringIO(res.text)
try:
    ds = json.load(tmp)
except json.JSONDecodeError as e:
    print("Exception encountered in JSON decode")

In [232]:
res.headers

{'Date': 'Sat, 30 Oct 2021 12:58:50 GMT', 'Server': 'Apache/2.4.6 (CentOS)', 'Last-Modified': 'Wed, 16 Dec 2020 23:45:42 GMT', 'ETag': '"10d-5b69d7922d580"', 'Accept-Ranges': 'bytes', 'Content-Length': '269', 'Connection': 'close', 'Content-Type': 'application/json'}

In [231]:
res.json()

{'FRA': {'2007': {'pop': 64.02, 'gdp': 2657.21},
  '2017': {'pop': 66.87, 'gdp': 2586.29}},
 'GBR': {'2007': {'pop': 61.32, 'gdp': 3084.12},
  '2017': {'pop': 66.06, 'gdp': 2637.87}},
 'USA': {'2007': {'pop': 301.23, 'gdp': 14451.9},
  '2017': {'pop': 325.15, 'gdp': 19485.4}}}

In [228]:
ds

{'FRA': {'2007': {'pop': 64.02, 'gdp': 2657.21},
  '2017': {'pop': 66.87, 'gdp': 2586.29}},
 'GBR': {'2007': {'pop': 61.32, 'gdp': 3084.12},
  '2017': {'pop': 66.06, 'gdp': 2637.87}},
 'USA': {'2007': {'pop': 301.23, 'gdp': 14451.9},
  '2017': {'pop': 325.15, 'gdp': 19485.4}}}

## **21.3.4 Exercises**