In [ ]:
import json

import util
from lxml import etree

# a print_data() and print_xml().

In [31]:
from lxml import etree

datadir = "04_16-first/public_data"
pathInd = os.path.join(datadir, "ind0.xml")
stripparser = etree.XMLParser(remove_blank_text=True)
indtree = etree.parse(pathInd, stripparser)
indroot = indtree.getroot()

In [32]:
print("Type:", type(indroot), "Length:", len(indroot))

Type: <class 'lxml.etree._Element'> Length: 3

In [33]:
print("Root Tag:", indroot.tag)

Root Tag: indicators

In [34]:
print("Root Element Attributes", indroot.attrib)

Root Element Attributes {}

In [35]:
s = etree.tostring(indroot, pretty_print=True).decode("utf-8")
print(s)

<indicators>
  <country code="FRA" name="France">
    <timedata year="2007">
      <pop>64.02</pop>
      <gdp>2657.21</gdp>
    </timedata>
    <timedata year="2017">
      <pop>66.87</pop>
      <gdp>2586.29</gdp>
    </timedata>
  </country>
  <country code="GBR" name="United Kingdom">
    <timedata year="2007">
      <pop>61.32</pop>
      <gdp>3084.12</gdp>
    </timedata>
    <timedata year="2017">
      <pop>66.06</pop>
      <gdp>2637.87</gdp>
    </timedata>
  </country>
  <country code="USA" name="United States">
    <timedata year="2007">
      <pop>301.23</pop>
      <gdp>14451.9</gdp>
    </timedata>
    <timedata year="2017">
      <pop>325.15</pop>
      <gdp>19485.4</gdp>
    </timedata>
  </country>
</indicators>

In [25]:
findCountry = indroot.find("country")
findCountry.attrib

{'code': 'FRA', 'name': 'France'}

In [26]:
nextCountry = findCountry.getnext()
nextCountry.attrib

{'code': 'GBR', 'name': 'United Kingdom'}

In [28]:
countrylist = indroot.findall("country")
countrylist

[<Element country at 0x7fae06543f80>,
 <Element country at 0x7fae45d255c0>,
 <Element country at 0x7fae064d2a40>]

In [45]:
import importlib
import json

import util
from lxml import etree

importlib.reload(util)

## **JSON**

In [46]:
path = os.path.join("ind2016.json")
with open(path) as f:
    ind2016 = json.load(f)

In [50]:
util.print_json(ind2016, 2)

     {
      "CAN":
       {
        "country": "Canada"
        "pop": 36.26
        "gdp": 1535.77
        "life": 82.3
        "cell": 30.75
       }
      "CHN":
       {
        "country": "China"
        "pop": 1378.66
        "gdp": 11199.15
        "life": 76.25
        "cell": 1364.93
       }
      "IND":
       {
        "country": "India"
        "pop": 1324.17
        "gdp": 2263.79
        "life": 68.56
        "cell": 1127.81
       }
      "RUS":
       {
        "country": "Russia"
        "pop": 144.34
        "gdp": 1283.16
        "life": 71.59
        "cell": 229.13
       }
      "USA":
       {
        "country": "United States"
        "pop": 323.13
        "gdp": 18624.47
        "life": 78.69
        "cell": 395.88
       }
       ...
     }

In [51]:
ind2016.items()

dict_items([('CAN', {'country': 'Canada', 'pop': 36.26, 'gdp': 1535.77, 'life': 82.3, 'cell': 30.75}), ('CHN', {'country': 'China', 'pop': 1378.66, 'gdp': 11199.15, 'life': 76.25, 'cell': 1364.93}), ('IND', {'country': 'India', 'pop': 1324.17, 'gdp': 2263.79, 'life': 68.56, 'cell': 1127.81}), ('RUS', {'country': 'Russia', 'pop': 144.34, 'gdp': 1283.16, 'life': 71.59, 'cell': 229.13}), ('USA', {'country': 'United States', 'pop': 323.13, 'gdp': 18624.47, 'life': 78.69, 'cell': 395.88}), ('VNM', {'country': 'Vietnam', 'pop': 94.57, 'gdp': 205.28, 'life': 76.25, 'cell': 120.6})])

In [59]:
LoD = []
for code, rowD in ind2016.items():
    rowD = rowD.copy()
    rowD["code"] = code
    LoD.append(rowD)

import pandas as pd

df = pd.DataFrame(LoD)
df

         country      pop       gdp   life     cell code
0         Canada    36.26   1535.77  82.30    30.75  CAN
1          China  1378.66  11199.15  76.25  1364.93  CHN
2          India  1324.17   2263.79  68.56  1127.81  IND
3         Russia   144.34   1283.16  71.59   229.13  RUS
4  United States   323.13  18624.47  78.69   395.88  USA
5        Vietnam    94.57    205.28  76.25   120.60  VNM

In [77]:
LoL = []

first = True


for code, row in ind2016.items():
    if first:
        headers = ["code"] + list(row.keys())
        first = False
    LoL.append([code] + list(row.values()))

print(headers, LoL)
df = pd.DataFrame(LoL, columns=headers)
df

['code', 'country', 'pop', 'gdp', 'life', 'cell'] [['CAN', 'Canada', 36.26, 1535.77, 82.3, 30.75], ['CHN', 'China', 1378.66, 11199.15, 76.25, 1364.93], ['IND', 'India', 1324.17, 2263.79, 68.56, 1127.81], ['RUS', 'Russia', 144.34, 1283.16, 71.59, 229.13], ['USA', 'United States', 323.13, 18624.47, 78.69, 395.88], ['VNM', 'Vietnam', 94.57, 205.28, 76.25, 120.6]]

  code        country      pop       gdp   life     cell
0  CAN         Canada    36.26   1535.77  82.30    30.75
1  CHN          China  1378.66  11199.15  76.25  1364.93
2  IND          India  1324.17   2263.79  68.56  1127.81
3  RUS         Russia   144.34   1283.16  71.59   229.13
4  USA  United States   323.13  18624.47  78.69   395.88
5  VNM        Vietnam    94.57    205.28  76.25   120.60

## **XML**

In [79]:
xmlparser = etree.XMLParser(remove_blank_text=True)
ind0_path = os.path.join("ind0.xml")
try:
    tree0 = etree.parse(ind0_path)
    root0 = tree0.getroot()
except:
    print("Exception in parsing XML")

In [80]:
tree0

In [81]:
root0

In [9]:
LoD = []
for country_node in root0:
    code = country_node.get("code")
    name = country_node.get("name")
    for timedata_node in country_node:
        year = int(timedata_node.get("year"))
        rowD = {"code": code, "name": name, "year": year}
        for indicator_node in timedata_node:
            rowD[indicator_node.tag] = float(indicator_node.text)
        LoD.append(rowD)


print(LoD)
df = pd.DataFrame(LoD)
df.set_index(["code", "year"], inplace=True)
df

[{'code': 'FRA', 'name': 'France', 'year': 2007, 'pop': 64.02, 'gdp': 2657.21}, {'code': 'FRA', 'name': 'France', 'year': 2017, 'pop': 66.87, 'gdp': 2586.29}, {'code': 'GBR', 'name': 'United Kingdom', 'year': 2007, 'pop': 61.32, 'gdp': 3084.12}, {'code': 'GBR', 'name': 'United Kingdom', 'year': 2017, 'pop': 66.06, 'gdp': 2637.87}, {'code': 'USA', 'name': 'United States', 'year': 2007, 'pop': 301.23, 'gdp': 14451.9}, {'code': 'USA', 'name': 'United States', 'year': 2017, 'pop': 325.15, 'gdp': 19485.4}]

                     name     pop       gdp
code year
FRA  2007          France   64.02   2657.21
     2017          France   66.87   2586.29
GBR  2007  United Kingdom   61.32   3084.12
     2017  United Kingdom   66.06   2637.87
USA  2007   United States  301.23  14451.90
     2017   United States  325.15  19485.40

In [6]:
import importlib
import json
import os

import util
from lxml import etree

importlib.reload(util)
import pandas as pd

In [23]:
def xml_indicators(root_node):
    LoD = []
    for country_node in root0:
        code = country_node.get("code")
        name = country_node.get("name")
        for timedata_node in country_node:
            year = int(timedata_node.get("year"))
            rowD = {"code": code, "name": name, "year": year}
            for indicator_node in timedata_node:
                rowD[indicator_node.tag] = float(indicator_node.text)
            LoD.append(rowD)
    #     print(LoD)
    df = pd.DataFrame(LoD)
    df.set_index(["code", "year"], inplace=True)
    return df

In [25]:
xmlparser = etree.XMLParser(remove_blank_text=True)
ind0_path = os.path.join("indicator.xml")
try:
    tree0 = etree.parse(ind0_path)
    root0 = tree0.getroot()
except:
    print("Exception in parsing XML")


df = xml_indicators(root0)
df.head()

Exception in parsing XML

                     name     pop       gdp
code year
FRA  2007          France   64.02   2657.21
     2017          France   66.87   2586.29
GBR  2007  United Kingdom   61.32   3084.12
     2017  United Kingdom   66.06   2637.87
USA  2007   United States  301.23  14451.90

In [27]:
import os

ind_path = os.path.join("indicators.xml")
try:
    tree = etree.parse(ind_path)
    root = tree.getroot()
except:
    print("Exception in parsing XML")
df = xml_indicators(root)

df.iloc[200:205, 0:4]

Exception in parsing XML

NameError: name 'root' is not defined

### **school.xml**

- school is the root, with three children: departments, courses, and instructors
- **Each child of departments** represents a single department, and can have children such as **name, division, chair, subject, etc**.
    - Each department has an id attribute, e.g., <department id="MATH">,
that we can use to distinguish it from its siblings (which each have a tag of
department).
    - We allow chair to have children, for first and last name of the current
department chair
   
-**Each child of courses** represents a single course, and can have children such
as **title, hours, and class**.
     - Each course has attributes including subject and num to distinguish it from
its siblings.
    - Each class has an attribute id to distinguish it from other class offerings of its parent
course
    - A class node can have children such as term, section, meeting (time),
and instructorid.
    
-**Each child of instructors** represents an individual instructor, and can have
children such as **first, last, departmentid, city, state, title, etc.**
       - Each instructor has an id attribute, to distinguish it from its siblings and for
use in table joins.
   
    
**we should be careful in our solution to avoid assuming that each subtree contains some fixed set of tag names**

In [32]:
school0_path = os.path.join("school0.xml")
try:
    school0_tree = etree.parse(school0_path)
    school0_root = school0_tree.getroot()
except:
    print("Exception in parsing XML")
departments = school0_root[0]
courses = school0_root[1]
instructors = school0_root[2]

**16.3.1.3 Wrangling Instructors**

<instructor id="9106">
    <first>Kathleen</first>
    <last>Campbell</last>
    <departmentid>MATH</departmentid>
    <city>Granville</city>
    <state>OH</state>
    <title>Associate Professor, Math &amp; CS</title>
</instructor>

In [39]:
def xml_instructors(instructors_root):
    import pandas as pd

    LoL = []
    #     headers = ["id", "firstname", "lastname", "departmentid", "city", "state", "title"]

    def child_value(node, tag):
        first_find = node.find(tag)
        if first_find != None:
            return first_find.text

    for instructor in instructors_root:
        row = {"id": instructor.get("id")}
        for child in instructor:
            row["firstname"] = child_value(instructor, "first")
            row["lastname"] = child_value(instructor, "last")
            row["departmentid"] = child_value(instructor, "departmentid")
            row["city"] = child_value(instructor, "city")
            row["state"] = child_value(instructor, "state")
            row["title"] = child_value(instructor, "title")

        LoL.append(row)
    df = pd.DataFrame(LoL)
    df.set_index(["id"], inplace=True)
    return df


xml_instructors(instructors)

,firstname,lastname,departmentid,city,state,title
id,,,,,,
9024,Lori,Williams,MATH,Granville,OH,"Professor, Math & CS"
9031,Ankita,Jayaraman,MATH,Granville,OH,"Associate Professor, Math & CS"
9059,Arthur,Chapman,MATH,Granville,OH,"Vis. Instructor, Math & CS"
9077,Jordan,Ray,MATH,Granville,OH,"Provessor, Mathematics"
9106,Kathleen,Campbell,MATH,Granville,OH,"Associate Professor, Math & CS"
9139,Caitlin,Fox,MATH,Granville,OH,"Associate Professor, Math & CS"
9140,Betty,Bradley,MATH,Granville,OH,"Professor, Math & CS"
9160,Barbara,Wong,MATH,Granville,OH,"Associate Professor, Math & CS"
9171,Rose,James,MATH,Clarksville,MD,"Vis. Ass't Prof. PT, Math & CS"
9192,Brian,Edwards,MATH,Granville,OH,"Associate Professor, Math & CS"
9231,Raymond,Nguyen,MATH,Granville,OH,"Ass't Prof., Math Sciences"
9279,Cynthia,Castro,MATH,Granville,OH,"Professor, Math & CS"
9042,Theresa,Rice,CINE,Granville,OH,"Professor, Cinema"
9097,Shirley,Morgan,CINE,Columbus,OH,"Ass't Prof., Cinema"
9273,Austin,Gray,CINE,Columbus,OH,"Ass't Prof., Cinema"
9284,Sarah,Woods,CINE,Galena,OH,"Ass't, Professor, Cinema"

**16.3.1.4 Wrangling Departments**

<department id="MATH">
    <name>Mathematics &amp; Computer Science</name>
    <division>Natural Sciences</division>
    <chair id="9140">
        <lastname>Bradley</lastname>
        <firstname>Betty</firstname>
    </chair>
    <subject id="CS" name="Computer Science"/>
    <subject id="MATH" name="Mathematics"/>
</department>

In [94]:
def xml_department(department_root):
    import pandas as pd

    # line of department
    LoD = []
    # line of subject
    LoS = []

    def child_value(node, tag):
        first_find = node.find(tag)
        if first_find != None:
            return first_find.text

    for department_node in department_root:
        id_ = department_node.get("id")
        rowD = {"id": id_}

        rowD["name"] = child_value(department_node, "name")
        rowD["division"] = child_value(department_node, "division")
        chair_node = department_node.find("chair")
        if chair_node is not None:
            rowD["chair_id"] = chair_node.get("id")
            rowD["chair_last"] = child_value(chair_node, "lastname")
            rowD["chair_first"] = child_value(chair_node, "firstname")

        for subject in department_node.iterchildren(tag="subject"):
            rowS = {"department_id": id_}
            rowS["id"] = subject.get("id")
            rowS["name"] = subject.get("name")
            LoS.append(rowS)
        LoD.append(rowD)

    df_d = pd.DataFrame(LoD)
    df_d.set_index(["id"], inplace=True)

    df_s = pd.DataFrame(LoS)
    df_s.set_index(["id"], inplace=True)

    return df_d, df_s

In [95]:
# xml_department(departments)/

In [96]:
d, s = xml_department(departments)
d.head()

,name,division,chair_id,chair_last,chair_first
id,,,,,
CINE,Cinema,Fine Arts,9042,Rice,Theresa
MATH,Mathematics & Computer Science,Natural Sciences,9140,Bradley,Betty

In [97]:
s.head()

     department_id              name
id
CS            MATH  Computer Science
MATH          MATH       Mathematics

**16.3.1.5 Wrangling Courses**

<course subject="CINE" num="104">
    <title>Film Aesthetics/Analysis</title>
    <hours>4.0</hours>
    <class id="40371">
        <term>FALL</term>
        <section>01</section>
        <meeting>13:30-14:20 MWF</meeting>
        <instructorid>9273.0</instructorid>
    </class>
    <class id="40372">
        <term>FALL</term>
        <section>02</section>
        <meeting>10:30-11:20 MWF</meeting>
        <instructorid>9097.0</instructorid>
    </class>
    <class id="21636">
        <term>SPRING</term>
        <section>01</section>
        <meeting>10:30-11:20 MWF</meeting>
        <instructorid>9097.0</instructorid>
    </class>
</course>

In [101]:
def xml_courses(courses_root):
    import pandas as pd

    # line of courses
    LoC = []
    # line of class
    Loc = []

    def child_value(node, tag):
        first_find = node.find(tag)
        if first_find != None:
            return first_find.text

    for course_node in courses_root:
        course_subject = course_node.get("subject")
        course_num = course_node.get("num")
        rowC = {"course_subject": course_subject, "course_num": course_num}

        rowC["title"] = child_value(course_node, "title")
        rowD["hours"] = child_value(course_node, "hours")
        class_node = course_node.find("class")
        if class_node is not None:
            rowc = {"course_subject": course_subject, "course_num": course_num}
            rowc["classid"] = class_node.get("id")
            rowc["term"] = child_value(class_node, "term")
            rowc["section"] = child_value(class_node, "section")
            rowc["meeting"] = child_value(class_node, "meeting")
            rowc["instructorid"] = child_value(class_node, "instuctorid")
            Loc.append(rowc)

        LoC.append(rowC)

    df_C = pd.DataFrame(LoC)
    df_C.set_index(["course_subject", "course_num"], inplace=True)

    df_c = pd.DataFrame(Loc)
    df_c.set_index(["course_subject", "course_num"], inplace=True)

    return df_C, df_c

In [102]:
d, f = xml_courses(courses)
d.head()

                                              title
course_subject course_num
CINE           104         Film Aesthetics/Analysis
               219           Elementary Cinema Prod
               310         Intermediate Cinema Prod
               326                History of Cinema
               361                   Directed Study

In [103]:
f.head()

                          classid    term section          meeting  \
course_subject course_num
CINE           104          40371    FALL      01  13:30-14:20 MWF
               219          40373    FALL      01    13:30-16:20 R
               310          40374    FALL      01    14:30-17:20 W
               326          21642  SPRING      01  12:30-13:20 MWF
               407          40375    FALL      01   10:00-11:20 TR

                          instructorid
course_subject course_num
CINE           104                None
               219                None
               310                None
               326                None
               407                None

# 16.3.2 Creating XML Data

 {"pop": 64.02, "gdp": 2657.21} to xml

In [110]:
import numpy


def buildTimedata(year, indvars):
    """
    Given a year (as a string or as an int), create an
    Element whose tag is timedata, with attribute of a
    year set to the given year, and with a set of
    children, one for each key-value pair in indvars.
    """

    # create element timedata with attribute year
    timedata = etree.Element("timedata", year=str(year))
    for key, value in indvars.items():
        if not numpy.isnan(value):
            # create node with key is tag, value is text
            node = etree.Element(key)
            node.text = str(value)
        timedata.append(node)
    return timedata

In [111]:
node = buildTimedata("2007", {"pop": 64.02, "gdp": 2657.21})
util.print_tree(node)

<timedata year="2007">
  <pop>64.02</pop>
  <gdp>2657.21</gdp>
</timedata>

In [108]:
def buildCountry(code, years):
    """
    Build a country xml subtree. Country node is tagged
    country and has an attribute of the countrys code.
    """

    # create country element with attribute code
    country_node = etree.Element("country", code=code)
    for year, indvars in years.items():
        timedata = buildTimedata(year, indvars)
        country_node.append(timedata)
    return country_node

In [109]:
data = {"2007": {"pop": 64.02, "gdp": 2657.21}, "2017": {"pop": 66.87, "gdp": 2586.29}}
node = buildCountry("FRA", data)
util.print_tree(node)

<country code="FRA">
  <timedata year="2007">
    <pop>64.02</pop>
    <gdp>2657.21</gdp>
  </timedata>
  <timedata year="2017">
    <pop>66.87</pop>
    <gdp>2586.29</gdp>
  </timedata>
</country>

## **XML Exercises**

# **16.4 XPath**

In [112]:
import util
from lxml import etree

myparser = etree.XMLParser(remove_blank_text=True)
indtree = etree.parse(os.path.join("ind0.xml"), myparser)
indroot = indtree.getroot()
toptree = etree.parse(os.path.join("topnames.xml"), myparser)
toproot = toptree.getroot()
schtree = etree.parse(os.path.join("school.xml"), myparser)
schroot = schtree.getroot()

<?xml version='1.0' encoding='UTF-8'?>
<indicators>
  <country code="FRA" name="France">
    <timedata year="2007">
      <pop>64.02</pop>
      <gdp>2657.21</gdp>
    </timedata>
    <timedata year="2017">
      <pop>66.87</pop>
      <gdp>2586.29</gdp>
    </timedata>
  </country>
  <country code="GBR" name="United Kingdom">
    <timedata year="2007">
      <pop>61.32</pop>
      <gdp>3084.12</gdp>
    </timedata>
    <timedata year="2017">
      <pop>66.06</pop>
      <gdp>2637.87</gdp>
    </timedata>
  </country>
  <country code="USA" name="United States">
    <timedata year="2007">
      <pop>301.23</pop>
      <gdp>14451.9</gdp>
    </timedata>
    <timedata year="2017">
      <pop>325.15</pop>
      <gdp>19485.4</gdp>
    </timedata>
  </country>
</indicators>

In [118]:
nodeset = indroot.xpath("/indicators/country/timedata")
print("Length:", len(nodeset), "Type:", type(nodeset[0]))

Length: 6 Type: <class 'lxml.etree._Element'>

In [119]:
print(nodeset[0].attrib)

{'year': '2007'}

In [120]:
for node in nodeset:
    util.print_tree(node)

<timedata year="2007">
  <pop>64.02</pop>
  <gdp>2657.21</gdp>
</timedata>

<timedata year="2017">
  <pop>66.87</pop>
  <gdp>2586.29</gdp>
</timedata>

<timedata year="2007">
  <pop>61.32</pop>
  <gdp>3084.12</gdp>
</timedata>

<timedata year="2017">
  <pop>66.06</pop>
  <gdp>2637.87</gdp>
</timedata>

<timedata year="2007">
  <pop>301.23</pop>
  <gdp>14451.9</gdp>
</timedata>

<timedata year="2017">
  <pop>325.15</pop>
  <gdp>19485.4</gdp>
</timedata>

In [134]:
# find a nodeset timedata with attribute year = 2007
nodeset = indroot.xpath("/indicators/country/timedata[@year = 2007]")
print("Length:", len(nodeset), "Type:", type(nodeset[0]))

for node in nodeset:
    util.print_tree(node)

Length: 3 Type: <class 'lxml.etree._Element'>
<timedata year="2007">
  <pop>64.02</pop>
  <gdp>2657.21</gdp>
</timedata>

<timedata year="2007">
  <pop>61.32</pop>
  <gdp>3084.12</gdp>
</timedata>

<timedata year="2007">
  <pop>301.23</pop>
  <gdp>14451.9</gdp>
</timedata>

In [135]:
# find all text of pop node
popText = indroot.xpath("//pop/text()")
print(popText)

['64.02', '66.87', '61.32', '66.06', '301.23', '325.15']

In [136]:
path = "//timedata[@year='2007']/pop/text()"
popListText2007 = indroot.xpath(path)
popList2007 = list(map(float, popListText2007))
popList2007

[64.02, 61.32, 301.23]

In [137]:
indroot.xpath("""//timedata[@year="2007"]/pop/text()""")

['64.02', '61.32', '301.23']

In [138]:
def popList(tree, year):
    path = "//timedata[@year= {} ]/pop/text()".format(2017)
    popList = tree.xpath(path)
    return popList


popList = popList(indroot, 2017)
print(popList)

['66.87', '66.06', '325.15']

In [139]:
# find node with that attributes ?
codeList = indroot.xpath("//@code")
nameList = indroot.xpath("//@name")

In [141]:
print(codeList, nameList)

['FRA', 'GBR', 'USA'] ['France', 'United Kingdom', 'United States']

<?xml version='1.0' encoding='UTF-8'?>
<topnames>
  <year value="1880">
    <sex value="Female">
      <name>Mary</name>
      <count>7065</count>
    </sex>
    <sex value="Male">
      <name>John</name>
      <count>9655</count>
    </sex>
  </year>
  <year value="1881">
    <sex value="Female">
      <name>Mary</name>
      <count>6919</count>
    </sex>

In [166]:
# find average number male over years

male_path = "//sex[@value = 'Male']/count/text()"

male_list = toproot.xpath(male_path)
new_male_list = list(map(int, male_list))
print(new_male_list)
print(sum(new_male_list) / len(new_male_list))

[9655, 8769, 9557, 8894, 9388, 8756, 9026, 8110, 9247, 8548, 8502, 7680, 9039, 8049, 8238, 8320, 8138, 7550, 8159, 6990, 9829, 6900, 7907, 7608, 8108, 8060, 8265, 8983, 9342, 9591, 11450, 13446, 24587, 29329, 37948, 47576, 50043, 51853, 56558, 53528, 56913, 58217, 57277, 57470, 60801, 60897, 61130, 61669, 60699, 59798, 62149, 60508, 59266, 54218, 55829, 56524, 58492, 61835, 62268, 59645, 62473, 66736, 77176, 80261, 76951, 74449, 87436, 94757, 88584, 86857, 86224, 87261, 87063, 86256, 88528, 88327, 90656, 92704, 90517, 85251, 85929, 86917, 85034, 83782, 82646, 81021, 79990, 82436, 82008, 85203, 85302, 77594, 71405, 67847, 67578, 68454, 66954, 67616, 67158, 67739, 68696, 68763, 68235, 68000, 67741, 64912, 64208, 63655, 64143, 65389, 65290, 60785, 54392, 49549, 44469, 41402, 38364, 37549, 36615, 35363, 34477, 32545, 30574, 29638, 27881, 25833, 24845, 24282, 22594, 21175, 22127, 20371, 19074, 18257, 19305, 19635, 19117, 18798, 19837]
47597.81294964029

In [171]:
max_ = max(new_male_list)
max_

94757

In [175]:
node_max = toproot.xpath("//count[text() = '{}']/ancestor::*".format(max_))
# print(len(node_max))
for node in node_max:
    if type(node) == etree._Element:
        print("Tag:", node.tag)
        print(" Text:", node.text)
        print(" Attrib:", node.attrib)

Tag: topnames
 Text: None
 Attrib: {}
Tag: year
 Text: None
 Attrib: {'value': '1947'}
Tag: sex
 Text: None
 Attrib: {'value': 'Male'}

  <instructors>
    <instructor id="9024">
      <first>Lori</first>
      <last>Williams</last>
      <departmentid>MATH</departmentid>
      <city>Granville</city>
      <state>OH</state>
      <title>Professor, Math &amp; CS</title>
    </instructor>
    <instructor id="9031">
      <first>Ankita</first>
      <last>Jayaraman</last>
      <departmentid>MATH</departmentid>
      <city>Granville</city>
      <state>OH</state>
      <title>Associate Professor, Math &amp; CS</title>
    </instructor>

because using Xpath we can match entire list. Create list of  the list of all instructor
first names, or the list of all instructor titles. Each such list is a column of the
data frame we seek to build 

-----> compare with function **xml_instructore above** - create instructor dataframe using procedure vs XPath declarative approach

In [178]:
inst_id = "/school/instructors/instructor/@id"
inst_id_list = school0_root.xpath(inst_id)
inst_id_list[:2]

['9024', '9031']

In [179]:
inst_first = "/school/instructors/instructor/first/text()"
inst_first_list = school0_root.xpath(inst_first)
inst_first_list[:2]

['Lori', 'Ankita']

In [180]:
inst_last = "/school/instructors/instructor/last/text()"
inst_last_list = school0_root.xpath(inst_last)
inst_last_list[:2]

['Williams', 'Jayaraman']

In [181]:
inst_dep = "/school/instructors/instructor/departmentid/text()"
inst_dep_list = school0_root.xpath(inst_dep)
inst_dep_list[:2]

['MATH', 'MATH']

In [182]:
inst_city = "/school/instructors/instructor/city/text()"
inst_city_list = school0_root.xpath(inst_city)
inst_city_list[:2]

['Granville', 'Granville']

In [185]:
inst_state = "/school/instructors/instructor/state/text()"
inst_state_list = school0_root.xpath(inst_state)
inst_state_list[:3]

['OH', 'OH', 'OH']

In [186]:
inst_title = "/school/instructors/instructor/title/text()"
inst_title_list = school0_root.xpath(inst_title)
inst_title_list[:2]

['Professor, Math & CS', 'Associate Professor, Math & CS']

In [195]:
LoD = {
    "id": inst_id_list,
    "firstname": inst_first_list,
    "lastname": inst_last_list,
    "department_id": inst_dep_list,
    "city": inst_city_list,
    "state": inst_state_list,
    "title": inst_state_list,
}


df = pd.DataFrame(LoD)
df.set_index("id", inplace=True)
df.head()

     firstname   lastname department_id       city state title
id
9024      Lori   Williams          MATH  Granville    OH    OH
9031    Ankita  Jayaraman          MATH  Granville    OH    OH
9059    Arthur    Chapman          MATH  Granville    OH    OH
9077    Jordan        Ray          MATH  Granville    OH    OH
9106  Kathleen   Campbell          MATH  Granville    OH    OH